body{
    /* height: 100%; */
    background: url("../Assets/CasaPapelWallpaper.jpg")center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* height: 100vh; */
}


/* .Series{
    height: 50vh;
} */

.Titulo{
    width: 450px;
}

.Descripcion{
    color: white;
}

.Tendencias{
    color: white;
}

.MasSeries{

    height: 60px;
    margin: 0;
}

/* .MasSeries img{
    width: 100%;
    
} */

/* .carouselList{
    height: 200px;
    margin: 0;
} */

/* .contenedorCarousel{
    margin: 0;
    position: unset;
} */


.Imagen img{
 width: 100%;
 height: auto;
}
/* .row{
    margin:0;
} */

.MasSeries{
    height: auto;
}
