body{
    height: 100%;
    background: url("../Assets/CasaPapelWallpaper.jpg")center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


/* .Series{
    height: 50vh;
} */

.Titulo{
    width: 250px;
}

.Descripcion{
    color: white;
}

.Tendencias{
    color: white;
}

.MasSeries{

    height: 60px;
    margin: 0;
}

/* .MasSeries img{
    width: 100%;
    
} */

.carouselList{
    height: 200px;
    margin: 0;
}
.contenedorCarousel{
    margin: 0;
}


.Imagen img{
 width: 100%;
 height: auto;
}
/* .row{
    margin:0;
} */