body{
    background-size: cover;
    background-image:url("../Assets/fondo.jpg"); width: 500;
    background-repeat: no-repeat;
    background-size: linear-gradient(to right,
    rgb(0, 5, 20) 20%,
     rgba(0,0,0,.7) 1%, 
     rgba(0,0,0,.4) 10%,
     rgba(0, 0, 0, 0) 100%);   
   
height: 100vh;
width: 140vh;






}

.buscador{   
}


#mininavegador{
    width: 125px;
 
}


.mainfooter{
    bottom: 0%;
position: absolute;
background-color: black;
width:101% ;
display: flex;
justify-content: center;

}

.buscador{
    
}


.mainfooter button{
    color: white;
    height: 100%;
    width: 100%;
}
.mainfooter button:hover{
    color: black;
    background-color: white;
    border-bottom: 5px solid red;
}
.mainfooter div{
  
    text-align: center; width: 100%;
}

.texto1{
    font: 150% sans-serif;
    margin-left: 20px;
}

.texto2{
    font: 120% sans-serif;
    margin-left: 20px;
}

.boton_sesion{
    position: absolute;
    
}