body{
    background-size: cover;
    background: linear-gradient(90deg, rgba(0,0,0,1) 100%, rgba(0,0,1,1) 100%, rgba(0,0,0,100s) 100%, rgba(252, 252, 252, 0) 100%);
    background-image:url("../Assets/imagen\ de\ fondo.jpg");
    background-repeat: no-repeat;
height: 100vh;

}


.mainfooter{

    bottom: 0%;
position: absolute;
background-color: black;
width:100% ;
display: flex;
justify-content: center;

}


.mainfooter button{
    color: white;
    height: 100%;
    width: 100%;
}
.mainfooter button:hover{
    color: black;
    background-color: white;
    border-bottom: 1px solid red;
}
.mainfooter div{
  
    text-align: center; width: 100%;
}