<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <div> 
        <img src="../Assets/logo netflix.png" style="width: 250px; height: 150px;">
        <p class="texto_principal"> Podras ver series y <br>
             peliculas cuando quieras, donde            <br>
            quieras.  </p>
            
        <p class="texto_pequeño"> Planes desde 7,99 $ al mes. </p>
        <button class="btn btn-danger">Comienza el mes gratis</button>
    </div>
</body>

<body>
    <div class="central">
      <div class="div_padre"> 
    <div> <i class="bi bi-door-open-fill"></i>  </div>    
    <div> <p class="texto_abajo_1"> Sin compromisos, <br> cancela en linea en cualquier <br> momento </p> </div>  
    </div>

    <div class="div_padre2"></div>
    <div> <i class="bi bi-bar-chart-steps"></i>  </div> 
    <div> <p class="texto_abajo_2"> Mucho que ver </p> </div>   
    </div> 


</div>
</body>
</html>